# --------------------
# Data
# --------------------
data/
*.h5
*.hdf5
*.nc

# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# --------------------
# Jupyter
# --------------------
.ipynb_checkpoints/

# --------------------
# Environment / OS
# --------------------
.env
.envrc
*.log
.DS_Store
Thumbs.db

# --------------------
# Conda
# --------------------
.conda/
